body {
  display: flex;
  justify-content: flex-end;
}

.AddTask-section {
  padding: 24px;
  width: calc(100% - 200px - 48px);
}

.d-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
  border-radius: 50%;
}

.Addtask-table-section-Users {
  position: relative;
}

.Addtask-table-section-Users-Button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.Addtask-table-section-Users-Menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: max-content;
  height: min-content;
  position: absolute;
  top: -50px;
  right: 0;
  clip-path: circle(52px at 100% 0);
  transition: ease-in-out 225ms;
  border-radius: 16px;
}

.userSelectOpen {
  clip-path: circle(150% at 100% 0);
  background-color: lightblue;
}

.userSelectClose {
  background-color: lightblue;
}

#userSelect {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#userSelect img {
  height: 40px;
  width: 40px;
}

.Addtask-table-section-Users-Select {
  align-items: center;
  margin: 4px;
  display: flex;
}
.Addtask-table-section-Users-Select span {
  padding-left: 8px;
  padding-right: 8px;
}
.Addtask-table-section-Users-Img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/*Addtask header*/

.AddTask-header {
  margin-bottom: 24px;
}

.AddTask-header-subtitle {
  color: var(--text-color);
  font-weight: bold;
}

/*Addtask table*/

.Addtask-table-section {
  background-color: #ebf2f8;
  border-radius: 5px;
}

.Addtask-table-section-Row {
  display: flex;
  justify-content: space-around;
  padding: 24px;
}

.title-container {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.Addtask-table-section-span {
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
}

.title-input {
  border-radius: 5px;
  border: 1px solid grey;
  width: 95, 5%;
  height: 35px;
  padding-left: 10px;
  outline: none;
}

.calender-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.calender-input {
  border-radius: 5px;
  border: 1px solid grey;
  width: 95, 5%;
  height: 35px;
  padding-left: 10px;
  outline: none;
}

.dropdown-container {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.dropdown-input {
  border-radius: 5px;
  border: 1px solid grey;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  cursor: pointer;
  outline: none;
}

.description-container {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.description-input {
  border-radius: 5px;
  border: 1px solid grey;
  resize: none;
  font-family: inherit;
  border-radius: 5px;
  width: 95, 5%;
  height: 135px;
  padding-left: 10px;
}

.description-input:focus {
  outline: none;
}

.Addtask-table-section-thirdRow-assignedTo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
}

.Addtask-table-section-buttons-section {
  display: flex;
  justify-content: end;
}

.cancel-createTask-buttons {
  color: rgb(68, 68, 209);
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: 0;
}

.cancel-createTask-buttons:hover {
  background-color: rgb(68, 68, 209);
  color: white;
  cursor: pointer;
}
