body {
  display: flex;
  justify-content: flex-end;
}

.AddTask-section {
  padding: 24px;
  width: calc(100% - 210px - 48px);
}

/*Addtask header*/

.AddTask-header {
  margin-bottom: 24px;
}

.AddTask-header-subtitle {
  color: var(--text-color);
  font-weight: bold;
}

/*Addtask table*/

.Addtask-table-section {
  background-color: #ebf2f8;
  border-radius: 5px;
}

.Addtask-table-section-Row {
  display: flex;
  justify-content: space-around;
  padding: 24px;
}

.title-container {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.Addtask-table-section-span {
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
}

.title-input {
  border-radius: 5px;
  border: 1px solid grey;
  width: 95, 5%;
  height: 35px;
  padding-left: 10px;
  outline: none;
}

.calender-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.calender-input {
  border-radius: 5px;
  border: 1px solid grey;
  width: 95, 5%;
  height: 35px;
  padding-left: 10px;
  outline: none;
}

.dropdown-container {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.dropdown-input {
  border-radius: 5px;
  border: 1px solid grey;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  cursor: pointer;
  outline: none;
}

.description-container {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.description-input {
  border-radius: 5px;
  border: 1px solid grey;
  resize: none;
  font-family: inherit;
  border-radius: 5px;
  width: 95, 5%;
  height: 135px;
  padding-left: 10px;
}

.description-input:focus {
  outline: none;
}

.Addtask-table-section-thirdRow-assignedTo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
}

.Addtask-table-section-buttons-section {
  display: flex;
  justify-content: end;
}

.cancel-createTask-buttons {
  color: rgb(68, 68, 209);
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: 0;
}

.cancel-createTask-buttons:hover {
  background-color: rgb(68, 68, 209);
  color: white;
  cursor: pointer;
}
