main{
    display: flex;
}

.board-fields{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.board-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-div div{
    height: 800px;
    width: 300px;
    background-color: rgb(238, 238, 238);
}