main {
  display: flex;
}

.board-fields {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.board-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: rgb(229, 255, 0);
}

.red {
  background-color: rgb(255, 0, 0);
}

.green {
  background-color: rgb(30, 255, 0);
}

.color-line {
  height: 10px;
}

.board-field {
  height: 800px;
  width: 300px;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

#allTasks {
  background-color: white;
  height: 150px;
  width: 270px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: 200ms ease-in-out;
}

#allTasks:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#allTasks button {
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 10px;
  padding: 4px;
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

#allTasks button:hover {
  background-color: rgb(214, 0, 0);
}

#allTasks img {
  width: 30px;
  margin-left: 10px;
}

#allTasks p {
  margin-left: 10px;
}

.person-info {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.background-fields {
  background-color: rgb(209, 209, 209);
}

.title{
    font-size: 20px;
}

.description{
    color: grey;
    font-size: 12px;
    margin-top: 5px;
}

.task-bigger{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-1100px);
  z-index: 55;
  background-color: rgb(255, 255, 255);
  transition: 225ms ease-in-out;
}

.transform-task{
  transform: translateY(0px);
}

.close-whole-task{
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.close-whole-task img{
  width: 30px;
  cursor: pointer;
}

.task-title-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.user-div p{
  font-size: 30px;
  margin-left: 20px;
}

hr{
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

