main{
    display: flex;
}

.board-fields{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.board-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: rgb(229, 255, 0);
}

.red{
    background-color: rgb(255, 0, 0);
}

.green{
    background-color: rgb(30, 255, 0);
}

#color-line{
    background-color: rgb(11, 33, 133);
    height: 10px;
}

.board-field{
    height: 800px;
    width: 300px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#allTasks{
    background-color: white;
    height: 150px;
    width: 270px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

#allTasks button{
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 10px;
    padding: 4px;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

#allTasks img{
    width: 30px;
    margin-left: 10px;
}

#allTasks p{
    margin-left: 10px;
}

.person-info{
    display: flex;
    align-items: center;
    margin-top: 15px;
}