:root {
  --text-color: rgb(68, 68, 209);
  --text-color-email: blue;
}

* {
  margin: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.d-none {
  display: none;
}

.imprint {
  margin-left: 200px;
  padding: 24px;
}
.privacy {
  margin-left: 200px;
  padding: 24px;
}

@media all and (max-width: 1000px) {
  .privacy {
    margin-left: 0;
    margin-top: 100px;
    width: 80%;
  }

  .imprint {
    margin-left: 0;
    margin-top: 100px;
    width: 80%;
  }
}
