.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(11, 33, 133);
  width: 200px;
  height: 100vh;
  color: white;
  font-family: 'PT Sans', sans-serif;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin-top: 15px;
  font-size: 30px;
}

.links-div div:hover a {
  color: rgba(255, 255, 255, 0.8);
}

.a-highlight {
  /* padding-left: 5px; */
  border-left-color: white !important;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.logo-img {
  margin-top: 20px;
  cursor: pointer;
}
.profile-img {
  height: 60px;
  width: 60px;
  margin-top: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img-container {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
}

.links-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.links-div a {
  margin-left: 40px;
}
.links-div div {
  width: 100%;
  border-left: 7.5px solid transparent;
  transition: ease-in-out 225ms;
}

.profile-div {
  display: flex;
  justify-content: center;
  margin-top: 500px;
}

.menu {
  display: none;
  margin-right: 32px;
  cursor: pointer;
  transition: 225ms ease-in-out;
}

.menu-img {
  margin-right: 32px;
  display: none;
  z-index: 999;
  align-items: center;
}

.menu-links {
  position: absolute;
  right: 0;
  top: 0;
  min-height: min-content;
  min-width: 200px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
  transition: ease-in-out 225ms;
  padding-top: 5em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 998;
  border-radius: 10px;
  clip-path: circle(0% at 100% 0%);
  background-color: var(--background-navbar);
}

.menu-links-open {
  clip-path: circle(150% at 100% 0%);
}

@media all and (max-width: 1000px) {
  .nav-bar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .links-div {
    display: none;
  }

  .menu-img {
    display: flex;
  }

  .profile-img {
    margin-block: auto;
    height: 40px;
    width: 40px;
  }

  .profile-img-container {
    left: auto;
    z-index: 999;
    right: 100px;
    bottom: 0;
    top: 0;
  }

  .logo-img {
    margin-top: 0;
    height: 60px;
  }

  .logo-div {
    margin-left: 32px;
  }
}
