.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(11, 33, 133);
  width: 200px;
  height: 100vh;
  color: white;
  font-family: 'PT Sans', sans-serif;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin-top: 15px;
  font-size: 30px;
}

.links-div div:hover {
  transform: scale(1.1);
  border-left: 10px solid transparent;
}

.a-highlight {
  /* padding-left: 5px; */
  border-left-color: white !important;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.logo-img {
  margin-top: 20px;
}
.profile-img {
  height: 60px;
  width: 60px;
  margin-top: 20px;
  border-radius: 50%;
}

.profile-img-container {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
}

.links-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.links-div a {
  margin-left: 40px;
}
.links-div div {
  width: 100%;
  border-left: 7.5px solid transparent;
  transition: ease-in-out 225ms;
}

.profile-div {
  display: flex;
  justify-content: center;
  margin-top: 500px;
}
