
<div class="nav-bar">

    <div class="logo-div">
        <img class="profile-img" src="assets/img/joinlogo.png" alt="">
    </div> 
    <div class="links-div">
        <a id="board-link" href="board.html">Board</a>
        <a id="backlog-link" href="backlog.html">Backlog</a>
        <a id="addTask-link" href="addTask.html">Add Task</a>
        <a id="help-link" href="help.html">Help</a>
    </div>

    <div class="profile-div">
        <img src="assets/img/icon plus.png" alt="">
    </div>

  </div>
