<div class="nav-bar">
  <div class="logo-div">
    <img
      onclick="window.location='index.html'"
      class="logo-img"
      src="assets/img/joinlogo.png"
      alt=""
    />
  </div>
  <div class="links-div">
    <div id="board"><a href="board.html">Board</a></div>
    <div id="backlog"><a href="backlog.html">Backlog</a></div>
    <div id="addTask"><a href="addTask.html">Add Task</a></div>
    <div id="help"><a href="help.html">Help</a></div>
  </div>

  <div class="menu-img">
    <img
      class="menu-btn"
      onclick="menuOpen()"
      src="assets/img/menu-4-32.ico"
      alt="Menu"
    />
  </div>
  <div id="menuLinks" class="menu-links">
    <div id=""><a href="board.html">Board</a></div>
    <div id=""><a href="backlog.html">Backlog</a></div>
    <div id=""><a href="addTask.html">Add Task</a></div>
    <div id=""><a href="help.html">Help</a></div>
  </div>

  <div class="profile-img-container">
    <img
      class="profile-img"
      id="loggedUser"
      src="assets/img/icon plus.png"
      alt=""
    />
  </div>
</div>
